p{
    font-size: 20px;
}
h1{
    background-color: rgba(250, 217, 177, 0.281);
    color: blue;
    display : flex;
    justify-content: center;
}
.tool-bar{
    text-align: center;
    display: center;
    border: 10px salmon;
}
.img{
    width: 40%;
    height: 40%;
    display: flex;
    justify-self: center;
}